body {
    
    margin: 10;
    padding-top: 5px;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
}

.profile {
    border-radius: 50%;
}

#intro, #books, #travel {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

#input1, #input2 {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    margin-left: 750px;
    padding-left: 150;
    text-align: center;
}

#calculation {
    margin-left: 800px;
}

#result {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;

}

.travel_mainDiv {
    border: 1px solid lightgrey;
}

.travel_mainDiv h5{
    margin: 20px;
}

.travel_mainDiv h5, .travel_mainDiv p {
    margin-left: 20px;
}


#writings a {
    text-decoration: underline !important;
    color: green !important;
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

h5 {
    text-align:center;
}
